#centergrid {
	height: 400px;
	background-color: #AAA;
	display: block;
	margin-top: 15px;
}

#centertop {
	height: 120px;
	background-color: #fff;
	display: block;
}

#googlebar {
	height: 100px;
	background-color: #fff;
	display: block;
}

.googlecenter {
	display: block;
	margin: auto;
}

.googlenz {
	text-align: center;
	margin-left: 260px;
	margin-top: -20px;
	font-size: 16px;
	font-family: arial, sans-serif;
	color: #4285f4;
}

#centerbot {
	height: 200px;
	background-color: #fff;
	display: block;
	position: relative;
}

#searchbox {
	height: 160px; max-width: 700px;
	background-color: #fff;
	position: relative;
	margin: auto;
}

#searchbar {
	height: 42px;
	width: 550px;
	background-color: #fff;
	padding-top: 5px;
	margin: auto;

}

.searchbar {
	width: 540px;
	height: 30px;
}

#buttonbox {
	background-color: #fff;
	width: 550px; height: 80px;
	margin: auto;
}

#buttonbar {
	width: 250px; height: 50px;
	background-color: #fff;
	
	padding-top: 30px;
	margin: auto;

}

.searchbuttons input {
	height: 36px; min-width: 54px;
	background-color: #f2f2f2;
	border: 1px solid #c6c6c6;
	border-radius: 0%;

	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #757575;
}

#translationbox {
	height: 20px;
	background-color: #fff;
	display: block;
}

#translationbar {
	height: 16px; width: 180px;
	background-color: #fff;
	margin: auto;

	font-size: small;
	font-family: arial, sans-serif;
}

#translationbar a {
	text-decoration: none;
	color: blue;
}

#bartop {
	height: 30px;
	background-color: #fff;
	display: block;

	margin-top: 14px;
}

.anchortopleft {
	height: 30px; width: 200px;
	background-color: #fff;
	display: inline-block;
	float: right;
	position: relative;
}

.textbar div {
	height: 20px; max-width: 100px;
	white-space: nowrap;
	background-color: white;
	display: inline-block;
	float: right;
	position: relative;

	padding: 0 12px 0 0;
	margin: 4px 0 0 0;
	border: 1px dashed solid;

	font-size: 12px;
	font-family: arial, sans-serif;
	color: #000;
	text-align: right;
	line-height: 24px;
	overflow: hidden;

}

.anchortopright div {
	height: 30px; width: 126px;
	background-color: #fff;
	display: inline-block;
	float: right;
	position: relative;

	margin: 0 14px 0 4px;
}

.iconbar div {
	height: 30px; width: 30px;
	background-color: white;
	display: inline-block;
	float: right;
	position: relative;

	margin: 0px 15px 0 0;

	font-size: 13px;
	font-family: arial, sans-serif;
	color: #000;
	text-align: right;
	line-height: 24px;
	overflow: hidden;
}

#appicon {
	width: 30px; height: 30px;
	background-image: url("googleicons.png");
	background-position: -132px -38px;
	opacity: 0.55;
}

#bellicon {
	width: 20px; height: 20px;
	background-image: url("googleicons.png");
	background-position: -194px -21px;
	background-position: -194px -21px;
	background-color: #666;
	border-radius: 50%;

	margin-top: 5px;
}

#profile {
	border-radius: 50%;
}

#username {
	opacity: 0.55;
}

#gmailhome {
	opacity: 0.75;
}

#imageshome {
	opacity: 0.75;
	padding-right: 5px;
}

.textbar div a {
	text-decoration: none;
	color: #000;
}

.textbar div a:hover {
	text-decoration: underline;
}



#bar-bot {
	height: 40px; width:100%;
	background-color: #f2f2f2;
	
	position: absolute;
	bottom: 0;

	font-family: Arial, sans-serif;
	font-size: 12px;
	font-color: #222;

	opacity: 0.75;
}

#botleft {
	height: 40px;
	background-color: #f2f2f2;
	display: inline-block;
	float: left;
}

#botright {
	height: 40px;
	background-color: #f2f2f2;
	display: inline-block;
	float: right;	
}

.aba {
	display: inline-block;
	float: left;
	margin-left: 27px;
	padding: 10px 0 4px 0;
}

.pts {
	display: inline-block;
	float: right;
	margin-right: 27px;
	padding: 10px 0 4px 0;
}

#bar-bot div a {
	text-decoration: none;
}

#bar-bot div a:hover {
	text-decoration: underline;
}