#bartop {
	height: 30px;
	background-color: #fff;
	display: block;

	margin-top: 14px;
}

.anchortopleft {
	height: 30px; width: 200px;
	background-color: #fff;
	display: inline-block;
	float: right;
	position: relative;
}

.textbar div {
	height: 20px; max-width: 100px;
	white-space: nowrap;
	background-color: white;
	display: inline-block;
	float: right;
	position: relative;

	padding: 0 12px 0 0;
	margin: 4px 0 0 0;
	border: 1px dashed solid;

	font-size: 12px;
	font-family: arial, sans-serif;
	color: #000;
	text-align: right;
	line-height: 24px;
	overflow: hidden;

	#	text-overflow: ellipsis;
}

.anchortopright div {
	height: 30px; width: 126px;
	background-color: #fff;
	display: inline-block;
	float: right;
	position: relative;

	margin: 0 14px 0 4px;
}

.iconbar div {
	height: 30px; width: 30px;
	background-color: white;
	display: inline-block;
	float: right;
	position: relative;

	margin: 0px 15px 0 0;
#	border: 1px dashed solid;

	font-size: 13px;
	font-family: arial, sans-serif;
	color: #000;
	text-align: right;
	line-height: 24px;
	overflow: hidden;
#	text-overflow: ellipsis;
}

#appicon {
	width: 30px; height: 30px;
	background-image: url("googleicons.png");
	background-position: -132px -38px;
	opacity: 0.55;
}

#bellicon {
	width: 20px; height: 20px;
	background-image: url("googleicons.png");
	background-position: -194px -21px;
	background-position: -194px -21px;
	background-color: #666;
	border-radius: 50%;

	margin-top: 5px;
}

#profile {
	border-radius: 50%;
}

#username {
	opacity: 0.55;
}

#gmailhome {
	opacity: 0.75;
}

#imageshome {
	opacity: 0.75;
	padding-right: 5px;
}

.textbar div a {
	text-decoration: none;
	color: #000;
}

.textbar div a:hover {
	text-decoration: underline;
}
